# Byte-compiled / optimized / DLL files
__pycache__/
/template/images/sleep_donut.png
/template/images/spo2_donut.png
/template/images/steps_donut.png
/template/images/stress_donut.png
/automatic_reports/pdf_results/result.pdf